.skill-stack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px auto;
  max-width: 750px;
  height: 200px;
  gap: 24px;
  text-align: center;
  padding: 24px;
  border-radius: 8px;
  animation: floating 3s ease-in-out infinite;
}

.pile-container {
  position: relative;
  width: 100%;
}

.pile-container h4 {
  position: absolute;
  text-transform: capitalize;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 600;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stack button {
  width: 200px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 330ms cubic-bezier(0.19, 1, 0.22, 1);
}

.stack button.active {
  background-color: #6251fae0;
  color: #fff;
}

.pile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}

.skill-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out forwards;
}

.skill-item-icon {
  width: 48px;
  height: 48px;
}

.skill-item-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 800px) {
  .skill-stack {
    flex-direction: column;
    gap: 48px;
  }
}
